:host {
  display: block;
}

.lsd-pagination {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.lsd-pagination__status {
  min-inline-size: 7rem;
  text-align: center;
}
